# вот так можно писать комментарии;
# они ничего не значат для .gitignore,
# но они могут быть полезны, чтобы понять, зачем было добавлено то или иное правило.

# добавил в .gitignor файл errors.txt
errors.txt 

# игнорировать все JPEG-файлы
*.jpeg

# но только не мем с Doge
!doge.jpeg 

# игнорировать все файлы "tmp" во всех подпапках папки docs
docs/*/tmp 

# игнорировать файлы file0.txt, file1.txt и file2.txt
# при этом не игнорировать file3.txt, file4.txt, ...
file[0-2].txt

# игнорировать tod.txt в корне репозитория
/tod.txt

# игнорировать папку build
build/

# игнорировать файлы "docs/current/tmp", "docs/old/tmp",
# а также "docs/old/saved/a/b/c/d/tmp"
# и даже "docs/tmp", потому что ноль вложенных папок тоже подходит
docs/**/tmp

